.header {
    height: 65vh; /* Adjust the height */
    width: 80vw; /* Set the width to full viewport width */
    max-height: 500px; /* Optional: Set a max height for larger screens */
    margin: 2px auto;
    background: url('./assets/fish1.png') no-repeat center center;
    background-size: cover; /* Cover the entire header area */
    background-clip: padding-box; /* Include border radius */
    border-radius: 20px; /* Adjust the border-radius for rounded corners */
    position: relative;
    animation: backgroundMove 30s linear infinite;
}

.header-contents{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 50%;
    bottom: 10%;
    left: 6vw;
    animation: fadeIn 3s ease-out;

}
.header-contents h2{
    font-weight:500;
    color: rgb(19, 15, 15);
    font-size: max(4.5vw,22px);
}
.header-contents p{
    color:rgb(19, 15, 15); ;
    font-size: 1vw;
}
.header-contents button{
    border: none;
    color: white;
    font-weight: 500;
    padding: 1vw 2.3vw;
    background:rgb(19, 15, 15);
    font-size: max(1vw,13px);
    border-radius: 50px;
}
@media (max-width:1050px) {
    .header{
        height: 38vw;
    }
    .header-contents{
        max-width: 45%;
    }
}
@media(max-width:750px){
    .header-contents{
        max-width: 55%;
    }
    .header-contents p{
       display: none;
    }
    .header-contents button{
        padding: 2vw 4vw;
    }
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
} 

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.header-contents {
    animation: fadeIn 2s ease-out;
}
@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.header-contents h2, .header-contents p, .header-contents button {
    animation: slideIn 1.5s ease-out forwards;
}

.header-contents h2 {
    animation-delay: 0.5s;
}

.header-contents p {
    animation-delay: 1s;
}

.header-contents button {
    animation-delay: 1.5s;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}


@keyframes backgroundMove {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100% 100%;
    }
}

.header {
   
    background: url('C:\Users\supri\Downloads\uvosNjsSnKwjRXZyHrvkZb\food-del\frontend\src\assets\fish1.png') no-repeat center center;
    background-size: cover;
    background-clip: padding-box;
    border-radius: 20px;
    position: relative;
    animation: backgroundMove 30s linear infinite;
}


